.App {
  font-family: sans-serif;
  text-align: center;
}
.user-pic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-style: italic;
  color: blueviolet;
}
